<footer class="medium bg-dark text-white mt-5">
    <div class="container py-4">
        <ul class="list-inline mb-0 text-center">
            <li class="list-inline-item">&copy; 2023</li>
            <li class="list-inline-item">All rights reserved.</li>
            <li class="list-inline-item"><a href="#">Terms of use and privacy policy</a>.</li>
        </ul>
        <ul class="list-inline mb-0 text-center">
            <li class="list-inline-item">Developed by: Harmony Hub | Balbin | Hortaleza | Servito | Torrado</li>
    </div>
</footer>