<nav class="navbar fixed-top">
    <div class="top_nav">
        <div class="left">
            <br>
            <span><img src="/images/sound.gif" height="80px" width="80px"></span>
            <div class="logo">
                <p><span>Harmony</span>Hub</p>
            </div>
        </div>
        <div class="right">
            <!-- avatarrrrr -->
        </div>
    </div>
    <div class="bottom_nav">
        <ul>
            <li><a href="/userIndex" class="btn-active">Home</a></li>
            <li><a href="/">Category</a></li>
            <li><a href="/createBlog">Add Post</a></li>
        </ul>
    </div><br />
</nav>